*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
h1 {
    text-align:  center;
}

.calculator-container {
    width: 100%;
    max-width: 700px;
    margin-top: 30px;
    border: 2px solid black;
    padding: 20px;
}
.calculator {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.calculator li {
    list-style: none;
    padding-top: 32px;
}

.grades {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-grow: 1;
}
.submit-data {
    display: block;
}
.submit-data {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.submit-data button {
    width: 25%;
    height: 30px;
    margin-bottom: 20px;
}

@media screen and (min-width: 600px) {
    .calculator {
        flex-direction: row; /* Change back to row on larger screens */
    }

}